@font-face {
  src: url("../fonts/MullerRegular.otf");
  font-family: "Muller";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/MullerMedium.otf");
  font-family: "Muller";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/MullerBold.otf");
  font-family: "Muller";
  font-weight: 700;
}