@import "fonts.css";
@import "layout.css";

html {
  line-height: 1;
}

.text,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Muller";
}

.h2 {
  font-size: 48px;
}

.text {
  font-size: 15px;
}

.text--medium {
  font-size: 22px;
}

.btn {
  background: #19a687;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #2cbf9f;
  transition: none;
}

.btn:active {
  background: #149176;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
  transition: none;
}

.btn--large {
  width: 174px;
  height: 54px;
  font-size: 24px;
}

.btn--small {
  width: 100px;
  height: 35px;
}

.btn--empty {
  background-color: #fff;
  border: 2px solid #149176;
  color: #149176;
  box-shadow: none;
}

.btn--empty:hover {
  color: #fff;
  background: #149176;
}

.btn--rounded {
  border-radius: 15px;
}

/* End settings */

.header {
  background: #ffffff;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo__img-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 90%;
  margin: 0 auto;
}

.logo__img {
  height: 42px;
}

.logo__text {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  position: relative;
  top: 1px;
  letter-spacing: 1px;
}

.logo__btn {
  width: 115px;
}

.menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  border-top: 1px solid rgba(0, 0, 0, 0.055);
  width: 100%;
}

.menu__items {
  display: flex;
  height: 50px;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.25) 9px,
    #000 18px,
    #000 calc(100% - 18px),
    rgba(0, 0, 0, 0.25) calc(100% - 9px),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.25) 9px,
    #000 18px,
    #000 calc(100% - 18px),
    rgba(0, 0, 0, 0.25) calc(100% - 9px),
    transparent
  );
}

.menu__items::-webkit-scrollbar {
  display: none;
}

.menu__link {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  color: #000;
  /* box-sizing: border-box; */
  padding-top: 2px;
  transition: background 0.3s;
  white-space: nowrap;
  margin-right: 5%;
  margin-left: 5%;
}

.menu__link:active {
  transform: scale(0.94);
  transition: transform 0.2s;
}

.menu__link--active {
  font-weight: bold;
}

.menu__link--active:active {
  transform: none;
}

.menu__link--active:hover {
  background: #fff;
}

.hero {
  height: 390px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  display: none;
}

.hero__background {
  background: url("../img/hero-background.png");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 60%;
}

.hero__block {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__h2 {
  margin: 0;
  margin-left: -3px;
  margin-bottom: 30px;
}

.hero__text {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.45;
}

/* Main */

.funds {
  display: flex;
  flex-wrap: wrap;
}

.funds--margin-top {
  margin-top: 30px;
}

.fund {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  transition: background 0.3s;
  width: 100%;
  margin-bottom: 20px;
}

.fund:active {
  /* background: rgba(0, 0, 0, 0.1); */
  transform: scale(0.97);
  transition: transform 0.2s;
}

.fund__img-wrapper {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
}

.fund__img {
  height: 40px;
}

.fund__info {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  box-sizing: border-box;
  max-width: 78.33%;
  padding-top: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fund__header-and-badges {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}

.fund__header {
  font-size: 18px;
}

.fund__approved {
  margin-left: 5px;
  position: relative;
  bottom: 1.1px;
}

.fund__badges {
  display: flex;
  align-items: flex-start;
  margin-left: 7px;
  position: relative;
  top: -1px;
  display: inline-block;
  font-weight: 700;
  margin-left: 3px;
}

.fund__badge {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
  padding-bottom: 1px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 1.4px;
  margin-right: 2px;
  line-height: 1;
}

.fund__badge--kyc {
  background: #4caf50;
}

.fund__badge--wl {
  background: #ff9800;
  margin-right: 0;
}

.fund__header,
.fund__description,
.fund__dates {
  margin: 0;
}

.fund__description {
  color: #828282;
  margin-bottom: 4px;
  width: 215px;
  line-height: 1.1;
  font-size: 13px;
  font-weight: 700;
}

.fund__dates {
  margin-bottom: 3px;
}

.fund__stars {
  display: flex;
}

.fund__star {
  margin-left: 1px;
  max-width: 10px;
}

.fund__star:last-child {
  margin-left: 0;
}

.fund__rating {
  margin-top: 3px;
  margin-left: 5px;
}

.featured {
  height: 155px;
  background: rgba(242, 201, 76, 0.2);
  box-sizing: border-box;
  display: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.featured__text {
  margin-left: 15px;
  margin-top: 15px;
}

/* FUNDS */

.categories {
  margin-top: 35px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.25) 9px,
    #000 18px,
    #000 calc(100% - 18px),
    rgba(0, 0, 0, 0.25) calc(100% - 9px),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.25) 9px,
    #000 18px,
    #000 calc(100% - 18px),
    rgba(0, 0, 0, 0.25) calc(100% - 9px),
    transparent
  );
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories__btn {
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dedede;
  box-shadow: none;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 10px;
}

.categories__btn:hover {
  background: #fff;
  box-shadow: 0px 4px 6px #e0e0e0;
}

.categories__btn:active {
  background: #fff;
}

.categories__btn--active {
  background: #878787;
  border: 1px solid #7e7e7e;
  color: #fff;
}

.categories__btn--active:hover {
  background: #878787;
  border: 1px solid #7e7e7e;
  color: #fff;
}

.categories__btn--active:active {
  background: #878787;
  border: 1px solid #7e7e7e;
  color: #fff;
}

.cards {
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: "Muller";
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 30px;
}

.card-link {
  text-decoration: none;
}

.card:active {
  /* background: rgba(0, 0, 0, 0.1); */
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card__img-wrapper {
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 80px;
}

.card__img {
  height: 100%;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.card__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__header {
  margin: 0;
  font-size: 25px;
  color: #000;
}

.card__return--number {
  color: #00c853;
  font-weight: 600;
  text-align: right;
  font-size: 18px;
}

.card__return {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  /* text-align: right; */
  margin-top: 5px;
  display: block;
}

.card__stars {
  display: flex;
  margin-left: 15px;
  position: relative;
  bottom: 2px;
}

.card__star {
  margin-right: 1px;
}

.card__description {
  margin: 0;
  margin-top: 5px;
}

.card__invest-btn {
  width: 80px;
  height: 25px;
  box-shadow: none;
}

/* SCREENS */

@media (min-width: 375px) {
  .fund__img-wrapper {
    width: 65px;
    height: 65px;
  }

  .text {
    font-size: 16px;
  }

  .text--medium {
    font-size: 24px;
  }

  .fund {
    margin-bottom: 25px;
  }

  .fund__description {
    width: auto;
    font-size: 13px;
  }

  .fund__badges {
    top: -1px;
  }

  .featured {
    margin-bottom: 25px;
  }
}

@media (min-width: 412px) {
  .text {
    font-size: 17px;
  }

  .text--medium {
    font-size: 24px;
  }

  .menu__items {
    height: 50px;
  }

  .fund__img-wrapper {
    width: 70px;
    height: 70px;
  }

  .fund__header {
    font-size: 20px;
  }

  .fund__description {
    width: auto;
    font-size: 13px;
  }

  .fund__badges {
    top: -1px;
  }
}

@media (min-width: 991px) {
  .text {
    font-size: 15px;
  }

  .text--medium {
    font-size: 18px;
  }

  .logo__btn {
    display: none;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  }

  .header__nav {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 976px;
    margin: 0 auto;
  }

  .menu {
    border-bottom: none;
    border-top: none;
  }

  .menu__items {
    justify-content: flex-end;
    mask-image: none;
    -webkit-mask-image: none;
  }

  .menu__link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .hero {
    display: block;
  }

  .funds {
    margin-left: -5px;
  }

  .fund {
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    transition: background 0.3s;
    width: 330px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.2s;
  }

  .fund:nth-child(odd) {
    margin-right: 15px;
  }

  .fund:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
  }

  .fund:active {
    background: rgba(0, 0, 0, 0.1);
  }

  .fund__img-wrapper {
    width: 85px;
    height: 85px;
  }

  .fund__img {
    height: 65%;
  }

  .fund__header {
    font-size: 18px;
  }

  .fund__info {
    padding-top: 0;
    justify-content: space-around;
  }

  .fund__header-and-badges {
    margin: 0;
  }

  .fund__description {
    font-size: 13px;
    margin: 0;
    font-weight: 700;
  }

  .fund__badges {
    top: -0.5px;
    margin-left: 3px;
    font-weight: 700;
  }

  .fund__approved {
    top: 0.5px;
  }

  .fund__badge {
    margin-right: 0px;
  }

  .fund__dates {
    margin: 0;
  }

  .fund__rating {
    margin-top: 0;
    position: relative;
    top: 2px;
  }

  .featured {
    margin-top: 30px;
    display: flex;
    height: 500px;
  }

  /* FUNDS */

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: auto;
    margin-bottom: 55px;
  }

  .card__img-wrapper {
    width: 260px;
    align-items: center;
  }

  .card__img {
    height: 80%;
  }

  .card:nth-child(even) {
    margin-left: 50px;
  }

  .categories {
    width: 976px;
    padding: 0;
    padding-bottom: 10px;
    mask-image: none;
    -webkit-mask-image: none;
  }

  .categories__btn--active {
    background: #878787;
    border: 1px solid #7e7e7e;
    color: #fff;
  }

  .categories__btn--active:hover {
    background: #878787;
    border: 1px solid #7e7e7e;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  .categories__btn--active:active {
    background: #878787;
    border: 1px solid #7e7e7e;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .hero {
    background-size: calc(320px * 2);
  }
}
